$font-basic: 'Roboto', 'Open Sans', sans-serif;
$font-extra: 'Comfortaa', 'Open Sans', sans-serif;
$color-primary-dark: #888ABC;
$color-primary:#C4C5E3;
$note-color: #fff4c5;
$note-color-dark: #f8e9b8;
$border-radius: 24px;
$box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
$basic-transition: 0.1s ease;