
@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: 
    local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format('truetype');
}
@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Regular.ttf") format('truetype');
} 
@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Medium.ttf") format('truetype');
} 

@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Light.ttf") format('truetype');
} 

$font-basic: 'Roboto', 'Open Sans', sans-serif;
$font-extra: 'Comfortaa', 'Open Sans', sans-serif;
$color-primary-dark: #888ABC;
$note-color: #fff4c5;
$border-radius: 30px;
$box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
$basic-transition: 0.1s ease;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}
button{
  cursor: pointer;
}

#root{
  min-height: 100%;
  display: flex;
  background-color: #EFF0FA;
}
.app-container{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.app-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
  margin-bottom: 0;
}
.app-logo{
  font-family: $font-extra;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  color: #DCDDF0;
  margin: auto;
}

.new-note-btn{
  align-self: center;
  margin: auto;
  font-weight: 400;
  text-align: center;
  border-radius: 24px;
  //border: 1px solid rgb(97, 99, 163);
  border: none;
  padding: 6px 12px;
  background-color: $color-primary-dark;
  box-shadow: $box-shadow;
  height: fit-content;
  width: 200px;
  color: white;
  font-size: 24px;
  font-family: $font-extra;

  &:focus, &:hover{
    outline: none;
    transform: scale(1.1);
    background-color: darken( $color-primary-dark, 20% ) ;
  }
  transition: $basic-transition;
}

.section-title{
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(217, 223, 240);
}

.notes-list{
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 12px;
}

.note-container{
  cursor: pointer;
  width: 240px;
  height: auto;
  padding: 12px 24px;
  border-radius: 8px;
  background-color:  $note-color;
  box-shadow: $box-shadow;
  &:hover{
    background-color: lighten( $note-color, 2%);
    box-shadow: -2px 4px 10px rgba(0,0,0,0.2);
  }
  transition: $basic-transition;
}

.note-title{
  font-family: $font-basic;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.note-body{
  font-family: $font-basic;
  font-weight: 300;
  font-size: .9rem;
  text-overflow: ellipsis;
  height: 230px;
  overflow: hidden;
}

.taglist-container{
  margin: 8px 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.tag-chip{
  cursor: pointer;
  display: flex;
  font-family: $font-extra;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 16px;
  transition: $basic-transition;
}

.taglist{
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin-bottom: 12px;
  li{
    margin: 3px 6px;
    list-style: none;
  }
  .tag-chip{
    background-color: #C4C5E3;
    box-shadow: $box-shadow;
    padding: 8px 16px;
    //border: 1px solid rgb(150, 162, 196);
    &:hover{
      background-color: darken( #C4C5E3, 10%);
      box-shadow: -2px 4px 10px rgba(0,0,0,0.2);
    }
  }
}

.chip-btn{
  border: none;
  &:focus{
    outline: none;
    background-color: darken( #C4C5E3, 10%);
  }
}

.note-taglist{
  display: flex;
  flex-wrap: wrap;
  padding: 8px 12px;
  li{
    margin: 3px ;
    list-style: none;
  }
  .tag-chip{
    font-size: 12px;
    background-color: #f8e9b8;
    padding: 4px 8px;
    //border: 1px solid rgb(150, 162, 196);
    &:hover{
      box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    }
  }
}

.overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 10;
}

.hidden{
  display: none;
}

.modal{
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 20vh;
  width: 580px;
  height: fit-content;
  min-height: 280px;
  border-radius: 10px;
  background-color: $note-color;
  box-shadow: -2px 5px 20px rgba(0,0,0,0.3);
  padding: 12px 12px 30px;
}

.edit-form{
  display: grid;
  grid-template-rows: 50px minmax(120px, auto) max-content ;
  font-family: $font-basic;
  width: 100%;
  padding: 12px;
}

.note-title-input{
  display: inline;
  font-family: $font-extra;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;padding: 0px;
  border-bottom: 1px solid transparent;
  margin-bottom: 8px;
  &:focus{
    outline: none;
    border-color: #948e7b;;
  }
}

.body-container{
  resize: none;
  background: transparent;
  font-size:  1rem;
  font-family: $font-basic;
  white-space: pre-wrap;
  border: none !important;
  &:focus{
    outline: none;
  }
}

.body-textarea{
  width: 100%;
  height: 100%;
  background: transparent;
  font-size:  1rem;
  font-family: $font-basic;
  white-space: pre-wrap;
  border: none !important;
  &:focus{
    outline: none;
  }
}

.modal-actions{
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.modal-action-btn{
  align-self: end;
  justify-self: end;
  margin-right: 12px;
  width: fit-content;
  padding: 4px;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: transparent;
  height: fit-content;
  color: black;
  font-size: 1rem;
  font-family: $font-extra;
  &:focus, &:hover{
    color: $color-primary-dark;
    outline: none;
    transform: scale(1.1);
  }
  transition: $basic-transition;
}
