@import './styles/_variables.scss' ;
@import './styles/_fonts.scss';


%icon-btn{
  background: none;
  background-color: none;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  display: inline-block;
  transition: transform .2s ease;
  &:hover{
      transform: scale(1.1);
  }
  &:focus{
      outline: none;
      transform: scale(1.1);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

button{
  cursor: pointer;
}

#root{
  min-height: 100%;
  display: flex;
  background-color: #EFF0FA;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.app-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
  margin-bottom: 0;
}

.app-logo{
  font-family: $font-extra;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  color: #DCDDF0;
  margin: auto;
}

@media screen and (max-width: 660px) {
  .app-logo{
    display: none;
  }
}

.new-note-btn{
  height: fit-content;
  width: 200px;
  margin: auto;
  color: white;
  font-size: 24px;
  font-family: $font-extra;
  font-weight: 400;
  text-align: center;
  border-radius: $border-radius;
  border: none;
  padding: 6px 12px;
  background-color: $color-primary-dark;
  box-shadow: $box-shadow;
  transition: $basic-transition;

  &:focus, &:hover{
    outline: none;
    transform: scale(1.1);
    background-color: darken( $color-primary-dark, 20% ) ;
  }
}

@media screen and (max-width: 660px) {
  .new-note-btn{
    grid-column:  1 / span 2;;
    width: 90%;
    margin-bottom: 24px;
  }
}

.notes-section{
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

.notes-list{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 12px;
}

.note-container{
  cursor: pointer;
  width: 240px;
  height: 310px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: $note-color;
  box-shadow: $box-shadow;
  transition: $basic-transition;
  &:hover{
    background-color: lighten( $note-color, 2%);
    box-shadow: -2px 4px 10px rgba(0,0,0,0.2);
  }
}

.note-title{
  font-family: $font-basic;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-body{
  font-family: $font-basic;
  font-weight: 300;
  font-size: .9rem;
  text-overflow: ellipsis;
  height: 210px;
  overflow: hidden;
}

@media (max-width: 660px){
  .notes-list{
    grid-template-columns: 1fr;
  }

  .note-container{
    margin: auto;
    width: 100%;
    height: auto;
  }
  .note-body{
    font-family: $font-basic;
    font-weight: 300;
    font-size: .9rem;
    text-overflow: ellipsis;
    height: auto;
    overflow: hidden;
  }
}

.taglist{
  display: flex;
  flex-wrap: wrap;
  margin: 0 24px 16px;
}

@media (max-width: 660px){
  .taglist{
    justify-content: center;
  }
}

.tag-chip{
  cursor: pointer;
  list-style: none;
  margin: 6px;
  padding: 8px 16px;
  display: flex;
  font-family: $font-extra;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  transition: $basic-transition;

  .delete-btn{
    @extend %icon-btn;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-image: url("./assets/icons/cross.svg");
    fill: #f1ca48 !important;
  }
}

.filter-tag{
  background-color: $color-primary;
  box-shadow: $box-shadow;
  font-size: 16px;
  &:hover{
    background-color: darken(  $color-primary, 5%);
    box-shadow: $box-shadow-hover;
  }
  &.selected{
    background-color: darken(  $color-primary, 10%);
  }
}

.note-tag{
  background-color: $note-color-dark;
  font-size: 14px;
}

.chip-btn{
  cursor: pointer;
  border: none;
  list-style: none;
  background-color: $color-primary;
  box-shadow: $box-shadow;
  margin: 6px;
  padding: 8px 16px;
  font-family: $font-extra;
  border-radius: $border-radius;
  font-size: 16px;
  transition: $basic-transition;
  &:focus, &:hover{
    outline: none;
    background-color: darken(  $color-primary, 10%);
    box-shadow: $box-shadow-hover;
  }
}

.note-tags{
  font-family: $font-extra;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}


.tag{
  margin: 3px ;
  list-style: none;
  font-size: .6rem;
  background-color: $note-color-dark;
  padding: 4px 8px;
  border-radius: $border-radius;
}

.overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 10;
}

.modal{
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 20vh;
  width: 90vw;
  max-width: 580px;
  height: fit-content;
  min-height: 280px;
  border-radius: 10px;
  background-color: $note-color;
  box-shadow: -2px 5px 20px rgba(0,0,0,0.3);
  padding: 12px 12px 30px;

  .close-btn{
    @extend %icon-btn;
    position: absolute;
    top:12px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/close.svg");
  }
}

.edit-form{
  display: flex;
  flex-direction: column;
  font-family: $font-basic;
  width: 100%;
  padding: 12px;
}

.note-title-input{
  display: inline;
  font-family: $font-extra;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;padding: 0px;
  border-bottom: 1px solid transparent;
  padding: 4px;
  margin-bottom: 12px;
  &:focus{
    outline: none;
    border-color: #948e7b;;
  }
}

.body-container{
  resize: none;
  height: 200px;
  background: transparent;
  font-size:  1rem;
  font-family: $font-basic;
  white-space: pre-wrap;
  border: none !important;
  &:focus{
    outline: none;
  }
  margin-bottom: 8px;
}

.body-textarea{
  width: 100%;
  height: 100%;
  background: transparent;
  font-size:  1rem;
  font-family: $font-basic;
  white-space: pre-wrap;
  border: none !important;
  &:focus{
    outline: none;
  }
}

.editor-taglist{
  display: flex;
  flex-wrap: wrap;
}

.modal-actions{
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.modal-action-btn{
  align-self: end;
  justify-self: end;
  margin-right: 12px;
  width: fit-content;
  padding: 4px;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: transparent;
  height: fit-content;
  color: #333333; 
  font-size: 1rem;
  font-family: $font-extra;

  &:focus, &:hover{
    color: #d6ab1c;
    outline: none;
    transform: scale(1.1);
  }
  transition: $basic-transition;
}
